doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Description
  link(href='/css/styleDetail.css' rel='stylesheet')
header.tit
  h1 MyBlog
  //- img(src='/images/bg5.jpeg' alt='aaa')
.cont
  .nav
    nav
      a(href='/') Home
      //- a(href='addProduct.html') Add Product
  section.prod
    table
      tr
        td(rowspan='7' colspan='6')
          .desc
            h3 Titre : #{found.titre}
            p Date de création : #{moment(found.createdAt, 'DD / MM / YYYY').fromNow()}
            p Date de modification : #{moment(found.updatedAt, 'DD / MM / YYYY').fromNow()}
            h4 Auteur: #{found.auteur}
            h4 Résumé: #{found.resume}
            p Contenu : #{found.contenu}
            
